<nav>
	<ul class=nav>
		<li><a href="/" title="Return to the landing page.">🏡Home</a></li>
		<li><a href="/blog" title="Check out my personal blog, The Archives.">📜Blog</a></li>
		<li><a href="/gallery" title="Photographs I've taken.">🎨Gallery</a></li>
		<li><a href="/about" title="Who is Lux?">❓About</a></li>
		<li><a href="/contact" title="Get in touch with me.">📬Contact</a></li>
		<li><a href="/links" title="Friends of Lux.">👥Links</a></li>
		<li><a href="/files" title="Files I'm currently hosting.">📦Files</a></li>
		<li><a href="https://search.cherub.im" title="My self-hosted SearXNG instance.">🔍Search</a></li>
	</ul>
</nav>
