<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Introd. | I Am Lux.</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" media="screen and (min-width: 1080px)" href='/style.css'>
		<link rel="stylesheet" media="screen and (max-width: 1080px)" href='/mobile.css'>
		<meta name="description" content="Welcome to the edge of the world."/>
		<meta name="geo.placename" content="Nowhereville."/>
		<meta charset="UTF-8"/>
	</head>

		<body>

			<nav>
				<ul class=nav>
					<li><a href="/" title="Return to the landing page.">🏡Home</a></li>
					<li><a href="/blog" title="Check out my personal blog, The Archives.">📜Blog</a></li>
					<li><a href="/gallery" title="Photographs I've taken.">🎨Gallery</a></li>
					<li><a href="/about" title="Who is Lux?">❓About</a></li>
					<li><a href="/contact" title="Get in touch with me.">📬Contact</a></li>
					<li><a href="/links" title="Friends of Lux.">👥Links</a></li>
					<li><a href="/files" title="Files I'm currently hosting.">📦Files</a></li>
					<li><a href="https://search.cherub.im" title="My self-hosted SearXNG instance.">🔍Search</a></li>
				</ul>
			</nav>

			<img class=iotd src="/pix/featured/Stained-Glass.jpg" alt="It's so over...😞" title="Stained Glass.">

			<article>

				<div class="polaroid" style="width:40%"><a href="/pix/photog/2023-11/warm-hands.jpg" target="_blank"><img src="/pix/photog/2023-11/warm-hands.jpg" title="Warm Hands."></a>
					<div class=desc>
      					<p>November 15th, 2023.</p>
  					</div>
				</div>

				<h1>Greetings!</h1>
				<h3>☩</h3>
				<h3>My name is Lucas, and this is my webpage.</h3>
				<h3>Refer to the <em>navbar</em> to find my work, contact me, or learn more about the site.</h3>
				<h3>If you'd like to stay updated, you can <a href="/index.xml">subscribe</a>.</h3>

			</article>

			<img class=bottom src="/pix/featured/Lamb.jpg" alt="It's so over...😞" title="The Lamb.">

			<a href="https://undimmed.net"><img class=tiny src="/pix/buttons/undimmed-sq.png" alt="[Undimmed]" title="COME, RECEIVE THE LIGHT ETERNAL!"/></a>

		</body>

</html>
